NET "panel_stb" LOC = P34 | IOSTANDARD = LVTTL;
NET "panel_clk" LOC = P40 | IOSTANDARD = LVTTL;
NET "panel_dio" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;

NET "esp32_ss" LOC = P23 | IOSTANDARD = LVTTL;
NET "esp32_sck" LOC = P26 | IOSTANDARD = LVTTL;
NET "esp32_mosi" LOC = P32 | IOSTANDARD = LVTTL;
NET "esp32_miso" LOC = P29 | IOSTANDARD = LVTTL;

NET "esp32_rx" LOC = P17 | IOSTANDARD = LVTTL;
NET "esp32_tx" LOC = P16 | IOSTANDARD = LVTTL;

NET "ram_ce" LOC = P58 | IOSTANDARD = LVTTL;
NET "ram_clk" LOC = P81 | IOSTANDARD = LVTTL;
NET "ram_sio<0>" LOC = P79 | IOSTANDARD = LVTTL | PULLUP;
NET "ram_sio<1>" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "ram_sio<2>" LOC = P75 | IOSTANDARD = LVTTL | PULLUP;
NET "ram_sio<3>" LOC = P83 | IOSTANDARD = LVTTL | PULLUP;